#heading {
    border: 3px solid white;
}

#heading > .logo {
    float: left;
    height: 25%;
    width: 15%;
}

#column {
    border-right: 1px solid rgb(158, 158, 158);
    float: left;
    width: 8%;
}

#column > .prenota {
    float: right;
    margin: 15px;
    font-family: ui-sans-serif;
    color: darkcyan;
    font-size: 20px;
}

#header {
    background-color: #5db3b0;
    margin-top: 61px;
    min-height: 71px;

}

#header > .col {
   background-color: #5db3b0;
   color: #d9f8f7;
   float: left;
   height: 100%;
   width: auto;
   padding: 1%;
   margin: 3px;
   cursor: pointer;

}

#header > .col1 {
    float: right;
    background-color: #5db3b0;
    color: #d9f8f7;
    height: 100%;
    width: auto;
    padding: 1%;
    margin: 3px;
    cursor: pointer;
}

#icon > .img {
    width: 100%;
    height: 400px;
}

#conteiner {
    position: relative;
    max-width: 600px;
    margin: auto;
}

#conteiner > .cont {
    width: 100%;
    height: 400px;
    font-size: 17px;
    font-family: inherit;
    color: white;
    margin-top: -380px;
}

#contenuto {
    background-color: white;
    border-radius: 10px;
    float: center;
    height: 25%;
    width: 25%;
    padding: 1%;
    margin: 2px;
}
